.table-row {
  display: flex;
  border: 1px solid #e9e9e9;
  margin-top: -1px;
  background-color: #f9f9f9;

  &:nth-child(even) {
    background-color: white;
  }

  &.table-head {
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    background-color: #44659c;
  }
}
